.detail-conteiner {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .detail-container-row {
    display: flex;
    justify-content: space-between;
  }
  .location-detail {
    margin-right: 600px;
  }
  
  .detail-conteiner h2 {
    font-size: 35px;
    font-weight: bold;
    color: #080000; 
    -webkit-text-stroke: 0.5px white; 
    margin-bottom: 10px;
    margin-top: 80px;
  }
  
  .detail-conteiner p {
    font-size: 26px;
    font-weight: bold;
    color: #080000; 
    -webkit-text-stroke: 0.2px white; 
    margin-bottom: 5px;
  }
  
  .detail-conteiner h3 {
    font-size: 26px;
    font-weight: bold;
    color: #080000;
    -webkit-text-stroke: 0.7px white; 
    margin-top: 20px;
  }
  .detail-conteiner h4 {
    font-size: 26px;
    font-weight: bold;
    color: #080000;
    -webkit-text-stroke: 0.7px white; 
    margin-top: 20px;
  }

  .detail-activities{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  .detail-activities ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%
    
  }

  .detail-activities li {
    background-color: rgba(146, 145, 88, 0.6);
    text-align: start;
    width: 100%;
    margin-top: 30px;
    font-size: 24px;
    color: #080000; 
    
  }

  .detail-activities h4 {
    margin-bottom: -20px;
    margin-top: 120px;
  }