
.card-container {
     
    border-radius: 20px;
    margin-top: 70px;
    padding: 20px 20px;
    text-align: center;
    transition: transform 0.3s, border-color 0.3s;
    width: 160px;
    height: 240px;
    /* Espacio para la imagen de fondo */
    background-color: rgba(0, 0, 0, 0);
    background-size: 130% 100%;
    background-position: center;
    
  }
  
  .card-container:hover {
    transform: scale(1.05); /* Hacer un poco más grande en :hover */
    border-color: navy; /* Cambiar el borde a azul marino en :hover */
  }
  
  /* Estilos adicionales para los elementos dentro del Link */
  .card-container h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 4px 4px black;
    margin-top: -10px;
    color:rgb(238, 233, 233);

  }
  
  .card-container img {
    /* Establece el tamaño máximo para la imagen */
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 120px;
    /* Ajusta la imagen al centro vertical y horizontalmente */
    display: block;
    margin: 0 auto;
    border: 3px solid black
  }
  
  .card-container p {
    font-size: 18px;
    font-weight: 1000;
    margin: 5px auto;
    color: beige;
    border-radius: 20px;
  }
  