.search-bar-container {
  display: flex;
  align-items: center; 
  position: fixed; 
  z-index: 9999;
}


.searchBar input {
  padding: 7px;
  border: 2px solid rgb(206, 224, 206);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  font-size: 16px;
  color: white;
}

.searchBar button {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 9px 4px;
  cursor: pointer;
  letter-spacing: 1px;
}



.country-filters select {
  border: 2px solid rgb(206, 224, 206);
  background-color: transparent;
  border-radius: 20px;
  font-size: 16px;
  color: white;
  
}

.country-filters select option{
  background-color: #000;
  filter:alpha(opacity=0);
  -moz-opacity:.0;
  opacity:.0;
}

.reset{
  margin-right: 30px;
  margin-left: -50px;
}